body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

.card-img-top {
    width: 100%; /* Ширина изображения будет равна ширине родительского элемента */
    height: 200px; /* Установите желаемую высоту */
    object-fit: cover; /* Изображение будет обрезано, чтобы соответствовать заданным размерам */
}
